body {
	margin: 30px;
	padding: 20px;
	font: 16px Georgia, serif;
	margin-left:60px;
	margin-right;60px;
}

#page-wrap{
	margin: 2% auto;
	color:white;
}
#page-wrap > .main {
	border: 1px solid #999;
	padding: 1%;
	margin-bottom: 1px;
	color:black;
}

section {
	padding:15px;
	margin:0px 100px 0px 100px;
}

div{
	margin:0px 100px 0px 100px;
}

header, nav, section{
	background:#eee;
	text-align:center;
	margin:0px 100px 0px 100px;
}

footer{
	border: 1px solid #999;
	background:#eee;
	text-align:left;
	padding:5px;
	margin:0px 100px 0px 100px;
}

nav, span{
	margin:0px 100px 0px 100px;
}

#ErrorMsgs{
	colo: #FF0000;
	font-size:smaler;
}

a ,h6, h5{
  color: #00B7FF;
  text-align:left;
  padding:10px;
  {

h3{
  padding:20px;
  text-align:left;
}