<!DOCTYPE html>
<html>
   <head>
	<meta charset="utf-8">
    <title>MOE Quiz</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
	<link rel='stylesheet' 
	type="teext/css" 
	media="only screen and (min-width:530px and (min-device-width:481px)"
	href="/stylesheet/wide.css"/>
	<link rel='stylesheet' 
	type="text/css" 
	media="only screen and (max-width:480px)"
	href="/stylesheet/smartphone.css"/>
  </head>
  
  <body>
  <center>
     <h2><p>Bienvenido a <%= title %>:</h2>
	 El portal donde puedes crear tus propios juegos!!!</p>
   </center>
	<div id="page-wrap">
	<header class="main" id="h1">
		<h3>Quiz<span>: El juego de las preguntas</span></h3>
	</header>
	<section class="main" id="sl">
		<div><table>
			<tr><td><a><h4>Emprezar a Jugar</h4></a></td></tr>
			<tr></tr>
			<tr><td><a href="/quizes/show">Pregunta 1</a></td></tr>
		</table></div>
	</section>
		
	<footer>
		<a href="http://es.wikipedio.org/wiki/Quiz">¿Qu&eacute; es un Quiz?</a>
		<p><a href="/creditos/autor">Creditos</a></p>
		<p><a href="https://github.com/mdolivo/quiz_moe.git">Publicaci&oacute;n disponible en GitHub</a></p>
	</footer>
	</div>
  </body>
</html>
