<!DOCTYPE html>
<html>
   <head>
	<meta charset="utf-8">
    <title>MOE Quiz</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
  </head>
  <body>
  <center>
     <p>
	 <h2>
		Bienvenido a <%= title %>:
	</h2>
		El portal donde puedes crear tus propios juegos!!!
	</p>
   </center>
   
	<div id="page-wrap">
	<header class="main" id="h1">
		<h3>Quiz: El juego de las preguntas</h3>
	</header>
	
	<nav class="main" id=="n1" role="navigation">
		<span><a>Empieza jugar!!!</a></span>
	</nav>
	
	<section class="main" id="s1">
		<a href="/quizes/show">Pregunta 1</a>
	</section>
	
	<footer>
		<a href="http://es.wikipedio.org/wiki/Quiz">¿Qu&eacute; es un Quiz?</a>
		<p><a href="/creditos/autor">Creditos</a></p>
		<p><a href="https://github.com/mdolivo/quiz_moe.git">Publicaci&oacute;n disponible en GitHub</a></p>
	</footer>

	</div>
  </body>
</html>
