<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
    <title>MOE Quiz</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
</head>
 <body>
  <center>
     <p>
	 <h2>
		Bienvenido a Miriada X
	</h2>
		El portal donde puedes crear tus propios juegos!!!
	</p>
   </center>
   
  <div id="page-wrap">
	<header class="main" id="h1">
		<h3>Quiz: El juego de las preguntas</h3>
	</header>
	
	<nav class="main" id="n1" role="navigation">
		<span><a href="/">Volver al inicio</a></span>
	</nav>
	
	<section class="main" id="sl">
		<h4><%= respuesta%><p></h4>
		<form method="get" action="/quizes/<%= quiz.id %>" >
			<input type="submit" name="botonOtraVez" value="Intente otra vez"/>
		</form>
	</section>
	</div>
  </body>
</html>