<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <title>MOE Quiz</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
  </head>
  
  <body>
  <center>
     <p>
	 <h2>
		Bienvenido a Miriada X
	</h2>
		El portal donde puedes crear tus propios juegos!!!
	</p>
   </center>
   
    <div id="page-wrap">
	
	<header class="main" id="h1">
		<h3><span><font color="#0000FF">Editar Preguntas!!!</font></span></h3>
	</header>
	
	<section class="main" id="s1">
	<form method="post" action="/quizes/<%= quiz.id %>?_method=put" >
		Pregunta: 
		<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/><p>
		Respuesta:
		<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/><p>
		<a href="/quizes"><button type="button">Cancelar</button></a>
		<input type="submit" value="Guardar">
	</form>
	</section>
	
	
	<footer>
		<a href="/">Regresar</a>
	</footer>
	
	</div>
	</form>
	</section>
  </body>
</html>
