<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
    <title>MOE Quiz</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
  </head>
  <body>
  <center>
     <p>
	 <h2>
		Bienvenido a Miriada X
	</h2>
		El portal donde puedes crear tus propios juegos!!!
	</p>
   </center>
  <div id="page-wrap">
	<header class="main" id="h1">
		<h3>Quiz: El juego de las preguntas</h3>
	</header>
	
	<nav class="main" id="n1" role="navigation">
		<span><a>Agregar nueva Pregunta</a></span>
	</nav>
	
	<section class="main" id="sl">
	<center>
	<form method="get" action="/quizes/crear">
		<table>
		<tr>
		<td>
			Pregunta:
			<input type="text" id="pregunta" name="quiz[pregunta]" value="<%= quiz.pregunta%>"/> <p>
			Respuesta:
			<input type="text" id="respuesta" name="quiz[respuesta]" value="<%= quiz.respuesta%>"/> <p>
		</td>
		</tr>
		<tr>
		<td>
			Categoria:
			<select name="quiz[categoria]">
				<option value="Otro;">Otro</option>
				<option value="Geografia;">Geograf&iacute;a</option>
				<option value="Curiosidades">Curiosidades</option>
				<option value="Ciencia">Ciencia</option>
				<option value="Tecnologia">Tecnología</option>
			</select>
		</td>
		</tr>
		<tr>
		<td>
			<br>
			<a href="/"><button type="button">Cancelar</button></a>
			<input type="submit" value="Guardar">
		</td>
		</tr>
	</table>
	</form>
	</center>
	</section>
	<section class="main" id="s2">
		<% if(errors.length){ %>
			<span id="ErrorMsgs">
				<center>Corregir errores:<p>
				<% for(var i in errors) {%>
					<span><%= errors[i].message %></span><br/>
				<%}%>
				</center>
			</span>
			<%}%>
	</section>
	</div>
  </body>
</html>
