<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
    <title>MOE Quiz</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
  </head>
  <body>
  <center>
     <p>
	 <h2>
		Bienvenido a Miriada X
	</h2>
		El portal donde puedes crear tus propios juegos!!!
	</p>
   </center>
  <div id="page-wrap">
	<header class="main" id="h1">
		<h3>Quiz: El juego de las preguntas</h3>
	</header>
	
	<nav class="main" id="n1" role="navigation">
		<span><a>Agregar nueva Pregunta</a></span>
	</nav>
	
	<section class="main" id="sl">
		<form>
			<label for="preg" class="rem">Pregunta:</label>
			<input type="text" id="preg" name="quiz[pregunta]" value=" quiz.pregunta"/> <p>
			<label for="resp" class="rem">Respuesta:</label>
			<input type="text" id="resp" name="quiz[respuesta]" value="quiz.respuesta"/> <p>
			<a href="/"><button type="button">Cancelar</button></a>
			<input type="submit" value="Guardar">
		</form>
	</section>
	</div>
  </body>
</html>
