<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <title>Créditos</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
	<link rel='stylesheet' 
	type="teext/css" 
	media="only screen and (min-width:530px and (min-device-width:481px)"
	href="/stylesheet/wide.css"/>
	<link rel='stylesheet' 
	type="text/css" 
	media="only screen and (max-width:480px)"
	href="/stylesheet/smartphone.css"/>
	<link rel="icon" href="/public/images/Mifavicon.ico" />
  </head>
  <body>
  <h2><p>Bienvenido a Quiz Miriada X:</p></h2>
	<p>El portal donde puedes crear tus propios juegos!!!</p>
	
	<nav class="main" id="n1" role="navigation">
		<span><br><h1><p>Cr&eacute;ditos</span>
	</nav>
	
	<section class="main" id="sl">
	<p><h3>Autor: Marlyn Olivo</h3></p>
	<p><h3>Portal: Miriada X</h3></p>
	<p><h3>Curso: Desarrollo de servicios en la nube con HTML5, Javascript y node.js</p></h3>
	<a href="/"><h2>Regresar<h2></a>
	</form>
	</section>
	
  </body>
</html>
