<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <title>MOE Quiz</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
  </head>
  
  <body>
  <center>
     <p>
	 <h2>
		Bienvenido a Miriada X
	</h2>
		El portal donde puedes crear tus propios juegos!!!
	</p>
   </center>
   
   <div id="page-wrap">
	<header class="main" id="h1">
		<h3>Cr&eacute;ditos</h3>
	</header>
	
	<section class="main" id="s1">
		<a>Autor: Marlyn Olivo</a></p>
		<a>Portal: Miriada X</a></p>
		<a>Curso: Desarrollo de servicios en la nube con HTML5, Javascript y node.js</a></p>
	</section>
	
	<footer>
		<a href="/">Regresar</a>
	</footer>

	
  </body>
</html>
