<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <title>MOE Quiz</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
  </head>
  
  <body>
  <center>
     <p>
	 <h2>
		Bienvenido a Miriada X
	</h2>
		El portal donde puedes crear tus propios juegos!!!
	</p>
   </center>
   
    <div id="page-wrap">
	
	<header class="main" id="h1">
		<h3>Lista Preguntas</h3>
	</header>
	
	<section class="main" id="s1">
	<span><font color="#0000FF">Buscar Preguntas!!!</font></span>
	<form method="GET" action="/Busqueda/preguntas">
		</p>Texto a buscar</p>
		<input type="text" name="buscar"/>
		<input type="submit" value="Enviar"/>
	</form>
	</section>
	
	
	<footer>
		<a href="/">Regresar</a>
	</footer>
	
	</div>
	</form>
	</section>
  </body>
</html>
