<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <title>MOE Quiz</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
  </head>
  
  <body>
  <center>
     <p>
	 <h2>
		Bienvenido a Miriada X
	</h2>
		El portal donde puedes crear tus propios juegos!!!
	</p>
   </center>
   
   <div id="page-wrap">
	<header class="main" id="h1">
		<h3>Lista de Preguntas</h3>
		
	</header>
	
	<section class="main" id="s1">	   
		<% var i; for (i=0; i < quizes.length; i++) { %>        
    <tr>
      	<a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %><p>
    </tr> 
	<% } %>
	<br>
	<span><center><a href="/quizes/nueva">Crear Preguntas</a></center></span>
	</section>
	
	<footer>
		<a href="/">Regresar</a>
	</footer>
  </body>
</html>
